* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

button, .button {
  -webkit-appearance: none;
  background: none;
  border-radius: $buttonBorderRadius;
  border: $buttonBorderWidth solid;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.1em;
  outline: 0;
  padding: 0.175em 0.5em 0.09em 0.5em;
  text-transform: uppercase;
  transition: opacity $baseTransitionSpeed;

  &:hover {
    opacity: 0.5;
  }
}

.text-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $spaceL 0;

  @include portrait-layout-mobile {
    padding: $spaceXL $spaceS;
  }

}
