* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

button {
  -webkit-appearance: none;
  background: none;
  border-radius: 0.25em;
  border: 0.05em solid;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  padding: 0.15em;
}
