.fade-enter-active,
.fade-leave-active {
  transition: opacity $baseTransitionSpeed;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-step-enter-active,
.fade-step-leave-active {
  transition: opacity $slowTransitionSpeed;
}
.fade-step-enter,
.fade-step-leave-to {
  opacity: 0;
}


.list-complete-item {
  transition: all $fastTransitionSpeed;
  display: block;
}
.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
}
.list-complete-leave-active {
  position: absolute;
}
