@font-face {
  font-family: 'ABCViafont';
  src: url('../fonts/ABCViafont-Regular.woff2') format('woff2'),
    url('../fonts/ABCViafont-Regular.woff') format('woff');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-color: black;
}
html,
body {
  font-family: 'ABCViafont', monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $colorLight;
  font-size: $fontSize;
}

a {
  color: $colorLight;
  text-decoration: none;
  transition: color $baseTransitionSpeed;

  &:hover {
    color: $colorPrimary;
  }
}

.allcaps {
  text-transform: uppercase;
}
