@font-face {
  font-family: 'ABCViafont';
  src: url('../fonts/ABCViafont-Regular.woff2') format('woff2'),
    url('../fonts/ABCViafont-Regular.woff') format('woff');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.force-select, .force-select > * {  
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

html {
  background-color: black;
}
html,
body {
  font-family: 'ABCViafont', monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $colorLight;
  font-size: $fontSize;

  @include portrait-layout-mobile {
    font-size: $fontSizeMobile;
  }

}

a {
  color: $colorLight;
  text-decoration: none;
  transition: opacity $baseTransitionSpeed;

  &:hover {
    opacity: 0.5;
  }
}

.allcaps {
  text-transform: uppercase;
}

h1 {
  font-size: $fontSizeMedium;
  text-transform: uppercase;
  margin-bottom: $spaceL;
  
  @include portrait-layout-mobile {
    margin-bottom: $spaceM;
    font-size: $fontSizeMediumMobile;
  }

}

h2 {
  font-size: $fontSizeHeadline;
  margin-bottom: $spaceS;
  
  @include portrait-layout-mobile {
    font-size: $fontSizeHeadlineMobile;
  }

}

p {
  margin-bottom: 1em;
}
