// transitions
$baseTransitionSpeed: 400ms ease;

// colors
$colorPrimary: #0038FF;
$colorLight: rgba(255, 255, 255, 1);
$colorDark: rgba(0, 0, 0, 1);
$colorDarkTransparent: rgba(0, 0, 0, 0.3);

// type sizes
$largeFontSize: 7.6vw;
$mediumFontSize: 1.6667rem;
