// transitions
$baseTransitionSpeed: 400ms ease;
$slowTransitionSpeed: 800ms ease;
$liveAnimationDuration: 5s;

// colors
$colorPrimary: #0038FF;
$colorSecondary: #FF0000;
$colorLight: rgba(255, 255, 255, 1);
$colorDark: rgba(0, 0, 0, 1);
$colorDarkTransparent: rgba(0, 0, 0, 0.3);
$colorError: #FF0000;
$radialGradient: radial-gradient(
    50% 50% at 50% 50%,
    $colorPrimary 0%,
    $colorLight 18.23%,
    $colorPrimary 29.69%,
    $colorLight 61.98%,
    $colorLight 66.15%,
    $colorPrimary 79.69%,
    $colorLight 88.54%,
    $colorPrimary 95.83%
);

// font sizes
$fontSize: 16px;
$fontSizeNormal: 2.6vw;
$fontSizeLarge: 7.6vw;

// sizes
$spaceS: 1rem;
$spaceM: 2.5rem;
$spaceL: 4rem;

$buttonBorderRadius: 0.25em;
$buttonBorderWidth: 1px;
$buttonPadding: 0.15em;
