$gradientSteps: 5;

.chat {
  text-transform: none;
  text-align: left;

  &-message-box {
    border-radius: $buttonBorderRadius;
    background-color: $colorDarkTransparent;
    padding: 0.66em 0.66em 0.55em 1.75em;
    margin-bottom: 0.5em;
    position: relative;
  }

  .chat-history {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-indicator {
      width: 1em;
      height: 1em;
      border-radius: 100%;
      display: inline-block;
      position: absolute;
      top: 1.1em;
      left: 0.4em;
      transform: translateY(-50%);
    }
  }

  &.chat-gradient {
    .chat-history .chat-message-box {
      @for $i from 1 through $gradientSteps {
        &:nth-child(#{$i}) {
          opacity: #{0 + $i * 1 / $gradientSteps};
        }
      }
    }
  }

  .chat-input {
    border: $buttonBorderWidth solid $colorLightTransparent;
    display: flex;
    input {
      margin: 0;
      padding: 0;
      border:none;
      background-image:none;
      background-color:transparent;
      box-shadow: none;
      background: none;
      outline: 0;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      border: 0;
      height: 100%;
      transition: opacity $fastTransitionSpeed;
      &::placeholder {
        color: $colorLightTransparent;
      }
      &[type="text"] {
        width: 100%;
      }
      &[type="submit"] {
        cursor: pointer;
        margin-left: auto;
      }
      &:disabled {
        opacity: 0.3;
      }
    }
  }

  /* Light theme */
  &.light-theme {
    color: $colorDark;
    .chat-message-box {
      background-color: $colorLightTransparent;
    }
    .chat-footer .chat-message-box {
      background-color: $colorDarkTransparent;
      color: $colorLightTransparent;
    }
  }
  
}
