.footer {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 99;

    &-chat {
        position: relative;
        .chat {
            bottom: 0;
            position: absolute;
            left: 0;
        }
    }
    &-buttons {}
    &-imprint {}
}
