.footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 99;

    &-section {
        &--left {
    
            .chat {
                bottom: 0;
                position: absolute;
                left: 0;
            }
        }
    
        &--center {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    
        &--right {
        }
    }

    &.isQueue {
        justify-content: center;

        a {
            color: $colorPrimary;
        }
    }
}
