.interactive-buttons {
  &-item {
    display: inline-block;
    position: relative;
    margin: 0 0.5em;
    span.progress-bar {
      width: 0%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      background-color: white;
      mix-blend-mode: difference;
      border-radius: $buttonBorderRadius;
      border: $buttonBorderWidth solid black;
      transition: $fastTransitionSpeed;
    }
  }
  button {
    transition: $fastTransitionSpeed;
    &:active {
      transform: scale(0.95);
    }
    &:hover {
      opacity: 1;
    }
  }
}
