.interactive-buttons {
  &-item {
    display: inline-block;
    position: relative;
    margin: 0 0.5em;

    .progress-bar {
      background-color: white;
      border-radius: $buttonBorderRadius;
      border: $buttonBorderWidth solid black;
      display: block;
      height: 100%;
      left: 0;
      mix-blend-mode: difference;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: $fastTransitionSpeed;
      width: 0%;
    }
  }
  button {
    touch-action: manipulation;
    &:hover {
      opacity: 1;
    }

    &:disabled {
      cursor: progress;
      opacity: 0.5;
    }
  }
}
