.livestream {
  opacity: 0;
  position: fixed;
  transition: opacity 1000ms ease;
  width: 100%;

  &.isVisible {
    opacity: 1 !important;
    z-index: 1;
  }

  &.disabled {
    pointer-events: none;
    z-index: 0;
  }

  &-player {
    display: block;
    height: 100vh;
    height: calc(100vh - var(--vh-offset, 0px));
    padding: $spaceLivestream 0;
    width: 100%;
    @include portrait-layout-mobile {
      height: calc(100vh - var(--vh-offset, 0px) - 8rem);
    }
  }
  &-controls {
    bottom: 15vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
