nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 99;
  width: 100%;
  box-sizing: border-box;
  padding: .75em 1em;
  flex-direction: row;

  a {
    color: $colorLight;
    text-decoration: none;
    transition: color 400ms ease;

    &:hover, &.nuxt-link-exact-active {
      color: $colorPrimary;
    }
  }
}

.live-icon {
  color: $colorPrimary;
  animation: live 5s infinite;
}

@keyframes live {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  } 
  100% {
    opacity: 0;
  }
}

nav.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  top: auto;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;

  @media (orientation: landscape) {
    // text-align: center;
    align-items: flex-end;
  }
}
