.menu {
  left: 0;
  position: fixed;
  text-transform: uppercase;
  top: $spaceS;
  width: 100%;
  z-index: 99;

  &-live {
    position: absolute;
    left: $spaceS;
    top: 0;

    &-icon {
      animation: liveAnimation $liveAnimationDuration infinite;
      border-radius: $buttonBorderRadius;
      border: 1px solid;
      color: $colorSecondary;
      font-size: 0.8em;
      padding: 0.1em 0.4em;
    }
    &-counter {}
  }

  &-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;

    &-item {
      margin: 0 $spaceXS;

      &:last-of-type {
        position: absolute;
        right: $spaceS;
        top: 0;
        margin: 0;
      }
    }
  }

  @include portrait-layout-mobile {
    display: flex;
    flex-direction: column;

    &-live {
      position: static;
      top: inherit;
      text-align: center;
    }

    &-list {
      position: static;
      top: inherit;
      margin: $spaceS 0;
      width: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      justify-content: flex-start;
      
      &-item {
        margin: 0 $spaceXS;  
        
        &:first-of-type {
          margin-left: $spaceS;
        }

        &:last-of-type {
          position: static;
          margin: 0 $spaceXS;
          padding-right: $spaceS;
        }
      }

    }

  }
}

@keyframes liveAnimation {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  } 
  100% {
    opacity: 0;
  }
}
