.newsletter {
  margin-top: 1em;

  .mc_embed_signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  #mc_embed_signup_scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
  }

  input {
    background: none;
    outline: 0;
    border: 0;
    border-bottom: 0.1em solid $colorDark;
    font-size: 1em;
    @media (orientation: landscape) {
      font-size: $mediumFontSize;
    }
    font-family: inherit;
    width: 12em;
    padding: 0.2em;
    line-height: 0.8;
    border-radius: 0;
    -webkit-appearance: none;
    color: $colorDark;
  }
  input[type="submit"] {
    border: 0.1em solid $colorDark;
    width: auto;
    padding: 0.35em 0.5em 0.2em 0.5em;
    margin-left: 0.5em;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    -webkit-transition: background-color 200ms ease, color 200ms ease;
    -o-transition: background-color 200ms ease, color 200ms ease;
    transition: background-color 200ms ease, color 200ms ease;
  }
  input[type="submit"]:hover {
    background-color: $colorDark;
    color: $colorPrimary;
    cursor: pointer;
  }
  input::placeholder {
    color: $colorDarkTransparent;
  }
  .no-bg {
    input[type="submit"] {
      border-color: $colorLight;
      color: $colorLight;
      &:hover {
        background-color: $colorLight;
        color: $colorDark;
      }
    }
    input {
      border-color: $colorLight;
    }
    input::placeholder {
      color: $colorDarkTransparent;
    }
  }


  #mc_embed_signup div.mce_inline_error {
    background: none !important;
    color: red !important;
    font-size: 0.4em !important;
    margin: 0 auto !important;
    text-align: center !important;
    font-weight: normal !important;
  }

  #mce-success-response,
  #mce-error-response {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 10%);
    font-size: 0.4em;
    -webkit-transform: translate(-50%, 10%);
    -moz-transform: translate(-50%, 10%);
    -ms-transform: translate(-50%, 10%);
    -o-transform: translate(-50%, 10%);
  }
}
