.large-textoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 97vh; //optical centering
    z-index: 999;
    display: flex;
    pointer-events: none;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-size: $fontSizeMediumMobile;
    line-height: 1;
    color: white;
    flex-direction: column;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0.25em;

    img {
        width: 33vw;
        height: auto;
    }

    @include portrait-layout-mobile {
        display: none !important;
    }
  }