.queue {
    &-step {
        border: 2px solid red;
    }

    .wizard {
        border: 2px solid red;

        &-header,
        &-progress-with-circle,
        &-nav {
            display: none;
        }
        &-card-footer {
            display: flex;
            justify-content: center;
        }
        &-tab {
            &-content {}
            &-container {}
            &-component {}
        }
    }
}
