.timetable {
  cursor: pointer;
  font-size: 4.25vw;
  left: 1em;
  line-height: 1.4;
  mix-blend-mode: difference;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100vw - 2em);

  .has-ended {
    text-decoration: line-through;
  }

  @media screen and (orientation: landscape) {
    column-count: 2;
    font-size: 1.9vw;
  }
}
