.page-bar {
  text-align: center;

  h1, .donations {
    z-index: 1;
  }

  .donations {
    max-width: 41em;
    margin: 0 auto;

    &-item {
      margin-bottom: $spaceM;

      &-links {
        display: flex;
        justify-content: center;
      }

      &-link {
        margin: 0 $spaceXS;
      }

    }

  }
}
