.page-imprint {
    padding-left: $spaceS; 
    padding-right: $spaceS;
    line-height: $lineHeightImprint;

    h1 {
        margin-bottom: 1em;
    }
    h2 {
        text-transform: uppercase;
        margin-top: $spaceM;
    }
    h3 {
        text-transform: uppercase;
        font-size: $fontSizeSmall;
        margin-top: 1em;
        letter-spacing: 0.08em;
    }

    p {
        max-width: 45em;
    }
}
