.queue {
    // color: $colorPrimary;

    &-countdown {
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;

        &-value {
            display: block;
        }
    }

    .step {
        align-items: center;
        height: calc(100vh - var(--vh-offset, 0px));
        height: 100vh;
        padding-top: $space2;
        position: relative;
        text-align: center;

        &-color {
            width: 100%;

            &-dot {
                animation: gradientAnimation 15s infinite alternate;
                animation-fill-mode: backwards;
                border-radius: 100%;
                height: 25vw;
                margin: 0 auto;
                width: 25vw;
      
                @keyframes gradientAnimation {
                    0% {
                        background-size: 100% 100%;
                        background-position: center;
                    }
                    100% {
                        background-size: 500% 500%;
                        background-position: center;
                    }
                }
            }
        }
    }

    .vue-form-wizard {
        .wizard {    
            &-header,
            &-progress-with-circle,
            &-nav,
            &-card-footer {
                display: none;
            }
            &-tab {
                &-content {}
                &-container {}
                &-component {}
            }
        }

        &.isValidated {
        }
    }
}
