.queue {
    color: $colorPrimary;

    &-countdown {
        font-size: $fontSizeLarge;
        position: fixed;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        transform: scale(1) translateY(calc(50vh - 50%));
        transform: scale(1) translateY(calc(50vh - var(--vh-offset, 0px) - 50%));
        transform-origin: top;
        transition: transform $slowTransitionSpeed;
        width: 100%;
        z-index: 1;

        &--small {
            transform: scale(0.4) translateY(10vh);
        }

        &-value {
            display: block;
        }
    }

    .step {
        align-items: center;
        font-size: $fontSizeMedium;
        padding: 0 $spaceM;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        button {
            transition: background $baseTransitionSpeed, color $baseTransitionSpeed;
            &:hover {
                background: $colorPrimary;
                color: $colorDark;
                opacity: 1;
            }
        }

        &--start,
        &--question {
            font-size: $fontSizeLarge;

            .step {
                &-title {
                    margin-bottom: $spaceM;
                }
            }
        }

        &-title {
            text-transform: uppercase;
        }
        &-text {
            padding: $spaceM 0 0;
        }

        &-buttons {
            margin-top: #{$spaceS * 2};

            &--large {
                button {
                    border: $largeButtonBorderWidth solid;
                }
            }
        }

        .color-wrapper {
            position: relative;

            .vc {
                &-chrome {
                    background: none;
                    &-sliders {
                        border-radius: $buttonBorderRadius;
                        border-radius: 0;
                    }
                    &-fields-wrap,
                    &-alpha-wrap,
                    &-color-wrap {
                        display: none;
                    }
                    &-hue-wrap {
                        height: 25px;
                        margin: 0;
                    }
                    &-saturation-wrap {
                        border-radius: 3px;
                        padding-bottom: 50px;
                    }
                    &-body {
                        background: none;
                        padding: 0;
                    }
                }
                &-hue-picker {
                    border-radius: 3px;
                    height: 27px;
                }
            }
        }
        &-color {
            margin: 0 35%;
            width: 30%;
            backface-visibility: hidden;

            &-dot {
                animation: gradientAnimation 15s infinite alternate;
                animation-fill-mode: backwards;
                border: $buttonBorderWidth solid $colorPrimary;
                border-radius: 100%;
                height: 20vw;
                margin: $spaceS auto;
                position: relative;
                transform: translateZ(0);
                width: 20vw;
                
                @keyframes gradientAnimation {
                    0% {
                        background-size: 100% 100%;
                        background-position: center;
                    }
                    100% {
                        background-size: 500% 500%;
                        background-position: center;
                    }
                }
            }

            &-error {
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
            }
        }

        .color-btn {
            opacity: 1;
            pointer-events: all;
            transition: opacity $baseTransitionSpeed;


            &.disabled {
                cursor: not-allowed;
                pointer-events: none;
                opacity: 0;
            }
        }
    }

    .vue-form-wizard {
        .wizard {    
            &-header,
            &-progress-with-circle,
            &-nav,
            &-card-footer {
                display: none;
            }
            &-tab {
                &-content {}
                &-container {}
                &-component {}
            }
        }

        &.isValidated {
        }
    }
}
