.start {
    &-gradient {
        animation: gradientAnimation 15s infinite alternate;
        animation-fill-mode: backwards;
        background: $radialGradient;
        height: 100%;
        width: 100%;
      
        @keyframes gradientAnimation {
            0% {
                background-size: 100% 100%;
                background-position: center;
            }
            100% {
                background-size: 500% 500%;
                background-position: center;
            }
        }
    }
}
