.start {
    &-gradient {
        // animation: gradientAnimation 15s infinite alternate;
        animation-fill-mode: backwards;
        background: radial-gradient(
            50% 50% at 50% 50%,
            $colorPrimary 0%,
            $colorLight 18.23%,
            $colorPrimary 29.69%,
            $colorLight 61.98%,
            $colorLight 66.15%,
            $colorPrimary 79.69%,
            $colorLight 88.54%,
            $colorPrimary 95.83%
        );
        height: 100%;
        width: 100%;
      
        @keyframes gradientAnimation {
            0% {
                background-size: 100% 100%;
                background-position: center;
            }
            100% {
                background-size: 500% 500%;
                background-position: center;
            }
        }
    }


}
