.start {
    color: $colorDark;
    font-size: $fontSizeLarge;

    &-gradient {
        animation: gradientAnimation 15s infinite alternate;
        animation-fill-mode: backwards;
        background: $radialGradient;
        height: calc(100vh - var(--vh-offset, 0px));
        height: 100vh;
        width: 100%;
      
        @keyframes gradientAnimation {
            0% {
                background-size: 100% 100%;
                background-position: center;
            }
            100% {
                background-size: 500% 500%;
                background-position: center;
            }
        }
    }

    &-content {
        left: 50%;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .social-icons {
        font-size: $fontSizeNormal;

        &-link {
            color: $colorDark;
        }
    }
}
